@model TflAppVS.WebApp.Models.TflDto

@{
    ViewData["Title"] = "Statuses";
}

<table class="table table-bordered table-responsive table-hover" style="font-family:arial;">
    <tr style="background-color: rgb(@Model.LineColour.R, @Model.LineColour.G, @Model.LineColour.B);
        color: white;">
        <th>Trains from @Model.StationName</th>
        <th>Due</th>
    </tr>
    @foreach(var a in Model.Arrivals)
    {
        <tr>
            <td>@a.destinationName</td>
            <td>@a.expectedArrival</td>
        </tr>
    }
</table>


<table class="table table-bordered table-responsive table-hover" style="font-family:arial;">
    <tr style="background-color:rgb(65, 75, 86);
        color:white;">
        <th>Name</th>
        <th>Status</th>
        @*<th>Reason</th>*@
    </tr>
    
    @foreach (var s in Model.Statuses)
    {
    @*@bgColour:rbg(255, 255, 255);
    @txtColour:rgb(0, 0, 0);
    @if(s.StatusSeverity == 9)
    {
        @bgColour:rgb(255, 211, 41);
        @txtColour:rbg(255,255,255);
    }
    @elseif(s.StatusSeverity <= 7)
    {
        @bgColour:rgb(220, 36, 31);
        @txtColour:rbg(255,255,255);
    }*@
    <tr>
        <td style="background-color:rgb(@s.LineColour.R, @s.LineColour.G, @s.LineColour.B);
            color:white;
            font-weight:bold;">
            @s.Name
        </td>
        <td style="background-color:rgba(@s.BgColour.R, @s.BgColour.G, @s.BgColour.B, 0.7);
            color:rgb(@s.TxtColour.R,@s.TxtColour.G,@s.TxtColour.B);">
            @s.StatusSeverityDescription</td>
        @*<td>@s.Reason</td>*@
    </tr>
    }
</table>