@model IEnumerable<TflAppVS.WebApp.Models.StatusDto>

@{
    ViewData["Title"] = "Statuses";
}
<table class="table table-bordered table-responsive table-hover" style="font-family:arial;">
    <tr>
        <th>Name</th>
        <th>Status</th>
        @*<th>Reason</th>*@
    </tr>
    @foreach (var s in Model)
    {
    <tr>
        <td style="background-color:rgb(@s.LineColour.R, @s.LineColour.G, @s.LineColour.B);
            color:white;
            font-weight:bold;">
            @s.Name
        </td>
        <td>@s.StatusSeverityDescription</td>
        @*<td>@s.Reason</td>*@
    </tr>
    }
</table>